<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="warning">
    <img alt="Silhouette of mountains" src="https://scontent.fmnl25-5.fna.fbcdn.net/v/t1.15752-9/317336158_540959817592131_7952699624029906576_n.png?_nc_cat=110&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeFp2y6G_92dwJa-mDQePMTsmQtIxVDQEVqZC0jFUNARWo2dsutdr4WGHjkc32My40k&_nc_ohc=30l1bvbT8F4AX_0ex3e&_nc_ht=scontent.fmnl25-5.fna&oh=03_AdQE7xqU1wgCIQRoRXM_TxRnExs0nmxgxsoVEhffQILsrA&oe=63B7C065" />
    <ion-card-header>
      <ion-card-title>Maple's Money Changer</ion-card-title>
      <ion-card-subtitle>Trade like a Pro</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      
      Maple's Money Changer offers foreign money exchange aside from our pawning and remittance transactions. 
      Get the best and most updated money changer rates at our branches.

      <br>
      <br>
      Ano pa hinihintay mo, Suki? Bumili o magpapalit na sa pinakamalapit na Maple's Money Changer branch sa inyo!
    </ion-card-content>
  </ion-card>
</ion-content>
